@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Volkhov&display=swap');

:root { 

            /* Variables */
  /* kg -> Kiger: Mi seudonimo */
  
  /* COLORS */
  --kg-color-000: #ffffff;
  --kg-color-100: #d8d7d7;
  --kg-color-200: #a0ceda;;
  --kg-color-300: #6d868e;
  --kg-color-400: #02637e;
  --kg-color-500: #002d3a;
  --kg-color-600: #b37254;
  --kg-color-700: #070918;

  /* BACKGROUND */
  --kg-body-background: var(--kg-color-000);
  --kg-card-background: var(--kg-color-100);
  --kg-section-background: var(--kg-color-200);
  --kg-button-suscribe-background: var(--kg-color-300);
  --kg-button-find-background: var(--kg-color-400);
  
  /* TEXT COLORS */
  --kg-text-color-primary: var(--kg-color-700);
  --kg-text-color-secondary: var(--kg-color-500);
  --kg-text-color-tertiary: var(--kg-color-000);
  --kg-text-color-special:var(--kg-color-600);  
  
  /* FONT FAMILY */
  --kg-family-font-primary: 'Open Sans', sans-serif;
  --kg-family-font-secondary: 'Poppins', sans-serif;
  --kg-family-font-tertiary: 'Volkhov', serif;
 
  /* FONT SIZES */
  --kg-font-size-h1: 1.8em;
  --kg-font-size-h2: 1.2em;
  --kg-font-size-h3: 0.7em;
  --kg-font-size-h4: 0.5em;
  --kg-font-size-text: 0.8em;
  --kg-font-size-link: 0.6em;

  /* SPACINGS */
  --kg-margin-xs: 10px;
  --kg-margin-s: 20px;
  --kg-margin-m: 30px;
  --kg-margin-l: 40px;
  --kg-margin-xl: 50px;
  --kg-margin-xxl: 60px;

  --kg-padding-xxs: 105%;
  --kg-padding-xs: 20px;
  --kg-padding-s: 30px;
  --kg-padding-m: 40px;
  --kg-padding-l: 50px;
  --kg-padding-xl: 70px;
  --kg-padding-xxl: 90%;

  --kg-gap-xs: 10px;
  --kg-gap-s: 20px;
  --kg-gap-m: 30px;
  --kg-gap-l: 40px;
  --kg-gap-xl: 50px;
  --kg-gap-xxl: 60px;

  /* BORDER RADIUS */
  --rtc-border-radius: 10px;
  --rtc-border-radiusII: 20px;
}

            /* Por defecto */

.grid-container {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: start;
  gap: var(--kg-gap-m);

}

.flex-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  gap: var(--kg-gap-m);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--kg-family-font-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: var(--kg-padding-xs) var(--kg-padding-s) ;
  border-radius: var(--rtc-border-radius);
  cursor: pointer;
  border: none;
}

button:hover{
  transform: scale(1.1);
  transition: 0.7s;
}

          /* imagenes de decoracion */

#decore{
  width: 75rem;
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 400px;
  opacity: 0.7;
}
          

                /* HEADER */

header{
  width: 100%;
  background-color: transparent;
  justify-content: space-around;
  gap: var(--kg-gap-s);
  padding: var(--kg-padding-xs) var(--kg-padding-m);
}

.logoHeader{
  width: 250px;
}

a:hover, a:active, a:focus {
  color: var(--kg-text-color-special);
  transform: scale(1.1);
  transition: 0.5s;
}

.menuPrincipal{
  justify-content: space-between;
  width: 100%;
  gap: var(--kg-gap-xl);
}

.menuPrincipal > li > a{
  cursor: pointer;
  border: none;
  font-size: var(--kg-font-size-text);
  font-weight: 900;
}

.User >*{
  font-family: var(--kg-family-font-primary);
  color: var(--kg-text-color-secondary);
  font-size: var(--kg-font-size-text);
}

.langSelect select{
	-webkit-appearance: none;
	-moz-appearance: none;
  appearance: none;
}

.langSelect:hover{
  background-color: var(--kg-button-suscribe-background);
  transform: scale(1.1);
  transition: 0.7s;
}

.selectBox select{
  display:block;
  padding: 10px 10px;
  border:none;
  border-radius: var(--rtc-border-radius);
  font-size: var(--kg-font-size-text);
  height: 50px;
  margin:10px ;
}

.inButton {
  padding: var(--kg-padding-xs) var(--kg-padding-s) ;
  border-radius: var(--rtc-border-radius);
  box-shadow: 2px 2px 4px var(--kg-color-400);
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: var(--kg-font-size-text);
  font-weight: 900;
}

.inButton:hover{
  background-color: var(--kg-button-suscribe-background);
  transform: scale(1.1);
  transition: 0.7s;
}

.User{
  font-size: var(--kg-font-size-text);
  font-weight: 900;
}

#lang{
  font-weight: 900;
  font-size: var(--kg-font-size-text);
  background-color: transparent;
}

#Menu{
  display: none;
}

#MenuLogin{
  display: none;
}

@media (max-width: 1000px) {
  .User{
    display: none;  
  }
  #MenuLogin{
    display: block;
  }
  .logoHeader{
    width: 200px;
  }
}
  
@media (max-width: 800px) {
  .Menu{
    display: none;
  }
  #Menu{
    display: block;
  }
  .logoHeader{
    width: 150px;
  }
}

                            /* MAIN */
                       /* Pagina Principal (HERO) */

.hero{
  margin: 15px auto;
  padding: 0 50px;
}

.Content{
  grid-template-columns: 1fr 1.5fr;
}

.herocontent{
  flex-direction: column;
  text-align: start;
  align-items: start;
  gap: var(--kg-gap-s);
}

.Tagline {
  color: var(--kg-text-color-secondary);
  text-transform: uppercase;
  font-weight:bold;
  font-size: small;
  text-shadow: -1px -1px 1px var(--kg-text-color-secondary);
}

.herocontent > h1{
  font-family: var(--kg-family-font-tertiary);
  font-size: var(--kg-font-size-h2);
}

.herocontent > p{
  font-family: var(--kg-family-font-primary);
  font-size: var(--kg-font-size-h3);
  font-weight: 600;
}

.CTA{
  display: flex;
  flex-wrap: wrap;
  gap: var(--kg-gap-l);
}

.Play{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--kg-gap-s);
}

.findButton{
  min-width: 100px;
  background-color: var(--kg-button-suscribe-background);
  color: var(--kg-text-color-tertiary);
  font-size: var(--kg-font-size-link);
  font-weight: 800;
  box-shadow: 2px 2px 4px var(--kg-color-400);
  width: 10svw;
  border-radius: var(--rtc-border-radius);
  border: none;
}

.Play > p{
  text-shadow: -1px -1px 1px var(--kg-text-color-primary);
}

#play{
  width: 50px;
  cursor: pointer;
}

#play:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.imgPrincipal{
   height:40%;
   width:50svw;
   z-index: 2;
   margin: auto;
}

@media (max-width: 900px) {
.Content{
  grid-template-columns: 1fr;
}
}

@media (max-width: 400px){

}

                    /* Pagina de Productos */

.Products{
  gap: var(--kg-gap-xl);
  padding: var(--kg-padding-l);
  background-color:var(--kg-body-background) ;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2);
  align-items: start;
  align-content: start;
}

.productsTitles {
  grid-column:1/3 ;
  text-align: center;
  margin: auto;
}

.productsTitles > h2 {
  font-size: var(--kg-font-size-h1);
}

.productsTitles >h3 {
   font-size: var(--kg-font-size-h3);
}

                    /* SERVICIOS (FAMILY) */

.Services{
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding: 0 var(--kg-padding-xs);
  margin: 0 auto;
}

.Titles{
  text-align: center;
  font-family: var(--kg-family-font-tertiary);
  font-weight: 900;
  font-size: var(--kg-font-size-h2);
  color: var(--kg-text-color-primary);
}

.labelPrice{
  flex-wrap: wrap;
  gap: var(--kg-gap-xs);
  justify-content: center;
  width: 100%;
}

.inputPrice {
  padding: var(--kg-padding-xs) var(--kg-padding-s) ;
  border-radius: var(--rtc-border-radius);
  box-shadow: 1px 1px 4px var(--kg-color-100);
  border-color: var(--kg-body-background);
  padding: 15px;
  width: 100px;
  background-color: var(--kg-body-background) ;
  font-size: var(--kg-font-size-text);
  text-align: start;
}

.select {
  width: 100%;
  padding: var(--kg-padding-xs) var(--kg-padding-s) ;
  border-radius: var(--rtc-border-radius);
  box-shadow: 1px 1px 4px var(--kg-color-100);
  border-color: var(--kg-body-background);
  padding: 15px;
  width: 200px;
  background-color: var(--kg-body-background) ;
  font-size: var(--kg-font-size-text);
  text-align: start;
}

#buttonClean{
  width: 100%;
  font-size: var(--kg-font-size-link);
}

#buttonPrice{
  font-size: var(--kg-font-size-link);
}
 
option {
  color: inherit;
  background-color: var(--kg-body-background);
}

.Cards-Serv{
  width: 100%;
  flex-direction: column;
  gap: var(--kg-gap-xs);
  padding: var(--kg-padding-xs) 0;
}

.Card{
  grid-template-columns:1fr 2fr;
  padding:var(--kg-padding-xs) 0;
  gap: var(--kg-gap-xs);
}

.Card > img{
  grid-column: 1/2;
  width: svw;
  height: 4rem;
  width: 5rem;
  border-radius: var(--rtc-border-radiusII);
}

.Card > h4 {
  grid-column: 1/3;
  font-size: var(--kg-font-size-h3);
}

.Card > p {
  grid-column: 2/3;
  grid-row: 1/-1;
  font-size: var(--kg-font-size-h4);
}

.Card > h4:hover, :focus {
  background-color: var(--kg-card-background);
  cursor: pointer;
  transition: 0.7s;
  transform: scale(1.2);
}

                        /* PRODUCTOS */

.products{
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--kg-gap-xl);
}

.cardProduct{
  max-width: 180px;
  box-shadow: 2px 2px 1px var(--kg-color-100);
  border-radius: var(--rtc-border-radius);
  position: relative;
}

.cardProduct:hover,:focus {
  cursor: pointer;
  position: relative;
}

.productsCards{
justify-content: center;
}

.Image{
  min-width: 100%;
  width: 180px;
  height: 170px;
  border-top-left-radius: var(--rtc-border-radius);
  border-top-right-radius: var(--rtc-border-radius);
}


.Name{
  font-size: var(--kg-font-size-text);
  padding: var(--kg-padding-xs);
}

.Ingredients{
  width: 80%;
  font-size: var(--kg-font-size-link);
  padding: var(--kg-padding-xs);
  margin: auto;
}

.Price{
  font-size: var(--kg-font-size-text);
  text-align: start;
  padding-left: var(--kg-padding-s);
}

.Stars{
  gap: 0;
  margin: var(--kg-margin-s);
  justify-content: center;
  z-index: 4;
}

.Star :hover, :focus{
  transform: scale3d(1.1em);
}

.Star{
  width: 20px;
  height: 20px;
  background-color: var(--kg-color-100);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.Rellena{
  background-color: var(--kg-color-300);
}

.cestaCompra{
  width: 25px;
  position: absolute;
  bottom: 60px;
  right: 30px;
  cursor: pointer;
 
}

.cestaCompra:hover, :focus{
  transform: scale(1.2);
  transition: 0.5s;
}

.cestaCompra{
  display: block;
}

@media (max-width: 900px) {
  .Products{
    gap: var(--kg-gap-l);
    padding: var(--kg-padding-l);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2);
    align-items: start;
    align-content: center;
  }
}

@media (max-width: 501px){
  .Cards-Serv{
    display: none;
  }

  .Products{
   display: flex;
   flex-direction: column;
  }
}


                      /* TESTIMONIOS */

/* .Testimonials{
  grid-template-columns: 2fr 3fr 0.5fr;
  justify-items: start;
  align-items: start;
  height: 100svh;
  margin-top: 40px;
}

@media (max-width: 900px) {
.Content{
  grid-template-columns: 1fr;
}
}

@media (max-width: 400px){

}

.Testimonials > article > h2{
  font-size: var(--kg-font-size-h3);
  text-align: start;
}

#Testimonials{
  align-items: start;
  justify-items: start;
  text-align: start;
}

.Card-Test{
  text-align: start;
  position: relative;
}

.Card-Test > div{
  background-color: var(--kg-body-background);
  border: var(--kg-color-100);
  border-radius: var(--rtc-border-radius);
  box-shadow: 5px 5px 10px var(--kg-color-300);
  position: relative;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 0.3fr 0.3fr;
  font-family: var(--kg-family-font-secondary);
  text-align: start;
  gap: 0;
}

.Card-Test > div > p{
  font-family: var(--kg-family-font-secondary);
  width: 70%;
  color: var(--kg-text-color-primary);
  font-size: var(--kg-font-size-text);
  font-weight: 600;
}

.Card-Test > div > img{
  width: 5svw;
  grid-row: 1;
  grid-column: 1;
}

#testimonail{
  margin-bottom: var(--kg-margin-l);
  grid-row: 1;
  grid-column: 2;
}

#name{
  font-weight: 900;
  grid-row: 2;
  grid-column: 2;
}

#from{
  grid-row: 3;
  grid-column: 2;
}

.Testimonial-one{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.Testimonial-two{
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}

#Nav-Test{
  grid-template-rows: 2fr 2fr;
  gap: var(--kg-gap-xxl);
}

#Nav-Test > img{
  cursor: pointer;
  width: 80px;
} */

          /* FOOTER */

.footer{
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--kg-color-100);
  z-index: 2;
  position: relative;
  padding:var(--kg-padding-l) var(--kg-padding-s);
}

.LogoFooter{
  flex-direction: column;
}

#footerImg{
  width: 10rem;
}

.LogoFooter > p{
  font-size: var(--kg-font-size-text);
  font-weight: 600;
}

.NavColumn{
  width: 100%;
  height: 100%;
}

.NavColumn > nav{
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--kg-gap-xs);
  text-align: start;
  font-size:var(--kg-font-size-text);
}

.NavColumn > nav> a:hover{
  text-decoration:double;
  color: var(--kg-text-color-secondary);
}

.NavColumn > nav > ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:var(--kg-gap-s);
}

.NavColumn > nav > ul > h2{
  font-size: var(--kg-font-size-h2);
}

#menuFooter select{
	-webkit-appearance: none;
	-moz-appearance: none;
  appearance: none;
}

#menuFooter:hover{
  background-color: var(--kg-button-suscribe-background);
  transform: scale(1.1);
  transition: 0.7s;
}

#menuFooter select{
  display:block;
  padding: 10px 10px;
  border:transparent;
  border-radius: var(--rtc-border-radius);
  font-size: var(--kg-font-size-text);
  height: 50px;
  margin:10px ;
}

.outbound{
  flex-direction: column;
}

#SocialN{
  display: flex;
  justify-content: space-around;
  gap: var(--kg-gap-s);
}

#SocialN > img{
  width: 2rem;
}

.Apps{
  flex-direction: column;
}

.Apps > h4{
  font-size: var(--kg-font-size-text);  
}

#img-app{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--kg-gap-xs);
  justify-content: center;
}

#copyrigths{
  grid-row: 2/3;
  grid-column: 1/-1;
  font-size:small;
}

@media (max-width: 900px) {
  #SocialN > img{
    width: 1.5rem;
  }
  .Apps > h4{
    font-size: var(--kg-font-size-link);  
  }
}

@media (max-width: 500px){
  #footerImg{
    width: 8rem;
  }
  .LogoFooter > p{
    font-size: var(--kg-font-size-link);
  }
  .footer{
    grid-template-columns: repeat(3,1fr);
  }
  .NavColumn{
    display: none;
  }
  #menuFooter{
    display: block;
  }
  .Apps > h4{
    display: none;  
  }
}
